@model KnjigoMenjava.Models.Ocena

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ocena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zvezdice" class="control-label"></label>
                <input asp-for="Zvezdice" class="form-control" type="number" min="1" max="5" />
                <span asp-validation-for="Zvezdice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Komentar" class="control-label"></label>
                <input asp-for="Komentar" class="form-control" />
                <span asp-validation-for="Komentar" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="KnjigaId" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

