@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli v KnijgoMenjava</h1>
</div>
<div class="text-center">
    <h2>O storitvi:</h2>
    <p>KnijgoMenjava je platforma za ljubitelje izmenjave knjig. Deli svoje najljubše knjige in odkrijte nove od drugih bralcev!</p>
</div>