@{
    ViewData["Title"] = "Navodila uporabe aplikacije KnjigoMenjava";
}
<h1>@ViewData["Title"]</h1>

<p>1. Registracija:</p>
<ul>
    <li>Odpri aplikacijo in klikni na "Registracija".</li>
    <li>Vnesi svoje e-poštni naslov in geslo.</li>
</ul>

<p>2. Dodajanje knjig:</p>
<ul>
    <li>Prijavi se v aplikacijo.</li>
    <li>Klikni na "Dodaj knjigo".</li>
    <li>Vnesi naslov, avtorja, kategorijo in opis knjige</li>
    <li>Shrani knjigo.</li>
</ul>

<p>3. Rezervacija in izposoja:</p>
<ul>
    <li>Prebrskaj seznam knjig ali uporabi iskalnik.</li>
    <li>Klikni na "Rezerviraj" pri izbrani knjigi.</li>
    <li>Knjiga se pojavi v razdelku Moje Rezervacije, kjer se z lastnikom preko e-pošte dogovoriš o prevzemu.</li>
    <li>Ko lastnik knjige prejme knjigo nazaj, potrdi vrnitev v razdelku Moje Rezervacije.</li>
</ul>

<p>4. Ocene in komentarji:</p>
<ul>
    <li>Knjigi lahko dodaš oceno in komentar.</li>
    <li>Pri knjigi pritisneš gumb ocene, kjer bodo prikazane obstoječe ocene in komentarji.</li>
    <li>Pritisni moraš "Dodaj novo oceno" za vnos nove ocene in komentarja.</li>
</ul>
