@{
    ViewData["Title"] = "Politika zasebnosti";
}
<h1>@ViewData["Title"]</h1>

<p>
    Dobrodošli v KnjigoMenjava. Zavezani smo k varovanju zasebnosti naših uporabnikov. Ta politika zasebnosti pojasnjuje, katere osebne podatke zbiramo in kako jih uporabljamo.
</p>

<p>1. Pri uporabi aplikacije KnjigoMenjava lahko zbiramo naslednje podatke:</p>
<ul>
    <li>Registracija uporabnika: ime, priimek, e-poštni naslov, geslo</li>
    <li>Podatki o knjigah: naslov, avtor, kategorija, opis, fotografije knjige</li>
    <li>Rezervacije in izposoje: informacije o tem, kdo je knjigo rezerviral in kdaj</li>
    <li>Ocene in komentarji: vsebina komentarjev in ocene, ki jih uporabniki pustijo</li>
</ul>

<p>2. Namen uporabe podatkov</p>
<ul>
        <li>Vaše podatke uporabljamo za:</li>
        <li>Omogočanje registracije in prijave v sistem</li>
        <li>Prikaz knjig, rezervacij in ocen</li>
        <li>Komunikacijo med uporabniki (prek e-pošte) za dogovor o izposoji knjig</li>
        <li>Izboljšanje delovanja aplikacije in uporabniške izkušnje</li>
</ul>


<p>3. Deljenje podatkov</p>
<ul>
        <li>Vaših osebnih podatkov ne prodajamo ali posredujemo tretjim osebam za tržne namene.</li>
        <li>Vaš e-poštni naslov bo viden le drugim uporabnikom, kadar je potreben za dogovor o izposoji knjige.</li>
        <li>Gesla so shranjena varno in šifrirano.</li>
</ul>